<div class="page" id="page-@@pageNumber">
    @@include('navigation.html')
    <div class="layout layoutCompose">
        @@include('title.html', {
            "children": "Page #@@pageNumber"
        })
        @@for (var i = 0; i < pageNumber * 2; i++) {
            @@include('article.html')
        }
        @@include('article.html')
        @@include('pageLinks.html', {
            "pageNumber": "@@pageNumber",
            "nextPageNumber": "@@nextPageNumber",
            "prevPageNumber": "@@prevPageNumber"
        } )
    </div>

</div>