/* ------------------- Page ------------------- */
.page {
  align-items: center;
  background: white;
  box-sizing: border-box;
  justify-content: center;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  padding-top: 8px;
  position: absolute;
  top: 0;
}

/* Closed page */
.page {
  height: 1px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
.page > * {
  opacity: 0;
}

/* Opened page */
.page#page-1 {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
  z-index: 1;
}

.page:target {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}

.page#page-1 > *,
.page:target > * {
  opacity: 1;
}

/* ------------------- App ------------------- */
html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
}

.app {
  position: relative;
  z-index: 1;
}

/* Page content */

.layoutCompose {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 1376px;
  min-width: 320px;
  padding: 0 20px;
  width: 100%;
}

.layout {
  background: white;
  transition: opacity 500ms ease-out;
}

/* Page content */
.navigation {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.navigation > .link {
  padding-right: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
  display: inline-block;
}

.link {
  color: #2b56a5;
  text-decoration: none;
}
.link:hover {
  color: #214079;
}
.link:after {
  color: #a7a7a7;
}

.floatRight {
  float: right;
}

.logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: bottom;
  padding-right: 20px;
}
