.presentation {
  display: block;
}

.content {
  display: flex;
  height: 100%;
  font-size: 16px;
}

.content_title {
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.title {
  display: block;
  font-size: 7em;
  margin: 0;
}

@media only screen and (max-width: 1123px) {
  .title {
    font-size: 4em;
  }
}

@media only screen and (max-width: 720px) {
  .title {
    font-size: 2em;
  }
}