<div class="content content_contacts">
    <img class="contactsImage" title="Мое фото" src="./src/images/25.png" />
    <div class="contactsContent">
        @@include('title.html', {
            "children": "Иван Бабков"
        })
        <span class="contactsText">Ведущий веб-разработчик</span>
        <span class="contactsText">Компания: cian.ru / ЦИАН</span>
        <span class="contactsText">Telegram: @i_babkov</span>
        <span class="contactsText">LinkedIn: linkedin.com/in/ivan-babkov</span>
        <span class="contactsText">E-mail: i.babkov@cian.ru</span>
        <span class="contactsText">iv.babkov@gmail.com</span>
    </div>
</div>